  .register {
    text-align: center;
  }

  .register p {
    color: #aaa;
  }


  @media (max-width: 600px) {
    .register {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }