.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.hamburger li {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
}

.active {
    color: rgb(146, 146, 146);
}

@media (max-width: 600px) {
    .navbar {
        width: 90vw;
        padding: .5em 5.001vw;
    }

    .links_list {
        position: absolute;
        top: 38px;
        right: 5%;
        background-color: #fff;
        width: 80vw;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, .15) 0px 2px 10px 0px;
        display: none;
    }

    .navbar.active .links_list {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active li:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active li:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active li:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
    
    .active {
        color: #000;
        background-color: white;
    }
}
